
{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    [
      "styled-jsx/babel",
      {
        "plugins": [
          ["styled-jsx-plugin-sass"]
        ]
      }
    ]
  ]
}
